.header__nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 39px;
  padding-bottom: 39px;
  margin-bottom: 160px;
}

@media (max-width: 640px) {
  .header__nav-list {
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    margin-bottom: 86.5px;
    gap: 16px;
  }
}
