.top__content-subtitle {
  margin: 0;
  max-width: 558px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 50px;
}

@media (max-width: 640px) {
  .top__content-subtitle {
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    margin-bottom: 39px;
  }
}
